body {
  font-family: 'Figtree', sans-serif;
  box-sizing: border-box;
}

section {
  padding: 60px 0;
}


/* .row-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
} */

[class*=col-] {
  margin-bottom: 20px;
  box-sizing: border-box;
}


.header-section {
  margin-bottom: 54px;
}


.navbar-header {
  margin-top: 2.5rem;
}

.nav-item {
  margin-right: 40px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.nav-item .nav-link:last-child {
  padding-right: 0px;
}

.bottom_nav li a {
  text-decoration: none;
  color: #363B5A;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  cursor: pointer;
}

.top_nav li a:hover,
.bottom_nav li a:hover {
  color: #E52346
}

.top_nav li a {
  color: #363B5A;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-decoration: none;
}

.nav-item .active {
  color: #7C809A !important;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  text-align: left;
  color: #363B5A;
}

p {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

h6 {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #7C809A;
}

.content {
  position: relative;
  width: 100%;
  max-width: 453px;
  margin: auto;
  overflow: hidden;
}


.featured_img {
  position: relative;
  height: 100%;

}

.featured_box {
  position: relative;
  height: 100%;
}

.featured_img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 0, 0, 0) 100%);
}

.featured_title h1 {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  padding-left: 10px;
}


.content-overlay {
  background: rgba(54, 59, 90, 0.95);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}


.featured_box:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding: 1em;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.card-button {
  position: absolute;
  bottom: 19px;
}

.featured_box:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom {
  top: 80%;
}

.featured_box:hover .featured_title h1 {
  z-index: -1;
  transition: all 0.3s ease-in-out 0s;
}

.content-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

p.content-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left !important;
  color: #fff;
}

.content-details a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-decoration: none;
  padding: 15px 40px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.vehicle_conversion h1 {
  text-align: center;
}

.vehicle_conversion p {
  text-align: center;
}

.vehicle_conversion {
  margin-top: 60px;
}

#main_footer {
  width: 100%;
  height: auto;
  margin: 0px auto;
  padding: 60px 0px;
  background: #292931
}

#main_footer p {
  color: #7C809A;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.footer_nav ul {
  margin: 0px;
  padding: 0px
}

.footer_nav li {
  list-style-type: none;
}

.footer_nav li a {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.footer_nav li a:hover {
  color: #E52346
}

#main_footer p.address {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 0px;
}

.privacy {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.footer_bottom {
  margin-top: 30px;
}

.privacy:hover {
  color: #E52346
}

#main_footer .footer_bottom p {
  margin-top: 0px
}

