body {
  font-family: 'Figtree', sans-serif;
  box-sizing: border-box;
}

.text-blue {
  color: #363B5A;
}


section {
  padding: 60px 0;
}

[class*=col-] {
  margin-bottom: 20px;
  box-sizing: border-box;
}


.header-section {
  margin-bottom: 54px;
}


.navbar-header {
  margin-top: 2.5rem;
}

.nav-item {
  margin-right: 40px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.nav-item .nav-link:last-child {
  padding-right: 0px;
}

.bottom_nav li a {
  text-decoration: none;
  color: #363B5A;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  cursor: pointer;
}

.top_nav li a:hover,
.bottom_nav li a:hover {
  color: #E52346
}

.top_nav li a {
  color: #363B5A;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-decoration: none;
}

.nav-item .active {
  color: #7C809A !important;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  text-align: left;
  color: #363B5A;
}

p {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

h6 {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #7C809A;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

/* banner */
.banner-image {
  height: 100vh;
  background: url('../images/banner-image.png') center center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(18, 20, 30, 0.40);
}

.banner-overlay {
  background: rgba(27.59, 29.37, 40.37, 0.90);
  position: absolute;
  height: 100%;
  width: 28%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.banner-button {
  display: flex;
  height: 60px;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 2px solid #E52346;
}

.banner-button:hover {
  border: 2px solid #fff;
}

.banner-button:hover .btn-text {
  color: #fff;
}

#top_banner .button {
  margin-top: 40px;
}

.banner-button .btn-text {
  font-size: 16px;
  font-weight: 700;
  color: #E52346;
  line-height: 120%;
}

.content-wrapper {
  z-index: 1;
}

.content-wrapper h1 {
  font-size: 58px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 67px;
  word-wrap: break-word
}

.content-paragraph {
  line-height: 25px;
}

.asm-button {
  display: inline-flex;
  height: 60px;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #E52346;
  color: white;
}

.asm-button .btn-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 120%
}

.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}


.featured_img {
  position: relative;
  height: 100%;
}

.featured_box {
  position: relative;
  height: 100%;
  margin: 0;

}

.featured_img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 0, 0, 0) 100%);
}

.featured_title h1 {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  padding-left: 10px;
}


.content-overlay {
  background: rgba(54, 59, 90, 0.95);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}


.featured_box:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding: 1em;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.card-button {
  position: absolute;
  bottom: 19px;
}

.featured_box:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom {
  top: 80%;
}

.featured_box:hover .featured_title h1 {
  z-index: -1;
  transition: all 0.3s ease-in-out 0s;
}

.content-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

p.content-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left !important;
  color: #fff;
}

.content-details a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-decoration: none;
  padding: 15px 40px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.vehicle_conversion h1 {
  text-align: center;
}

.vehicle_conversion p {
  text-align: center;
}

.vehicle_conversion {
  margin-top: 60px;
}

#main_footer {
  width: 100%;
  height: auto;
  margin: 0px auto;
  padding: 60px 0px;
  background: #292931
}

#main_footer p {
  color: #7C809A;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.footer_nav ul {
  margin: 0px;
  padding: 0px
}

.footer_nav li {
  list-style-type: none;
}

.footer_nav li a {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.footer_nav li a:hover {
  color: #E52346
}

#main_footer p.address {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 0px;
}

.privacy {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.footer_bottom {
  margin-top: 30px;
}

.privacy:hover {
  color: #E52346
}

#main_footer .footer_bottom p {
  margin-top: 0px
}


.dedication_section {
  position: relative;
}

.background-img {
  position: absolute;
  z-index: -1;
  top: 340px;
  left: -282px;
}

.dedication_section .btn-wrapper {
  margin-top: 64px;
}



.dedication_section .right_box {
  margin-top: -140px;
  position: absolute;
  right: -8%;
}

.dedication_section h2 {
  font-size: 2.9em;
  font-style: normal;
  line-height: 61px;
  /* 127.083% */
  text-transform: uppercase;
}

.dedication_section .paragraph1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  margin: 24px 0;
}


.dedication_section .paragraph2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #7C809A;
}

.dedication_section .info_box {
  margin-bottom: 44px;
}

.dedication_section .info_box:last-child {
  margin-bottom: 0px;
}

.dedication_section .info_box img {
  padding-bottom: 10px;
}

.dedication_section .info_box h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 10px;
  color: #363B5A;
}

.dedication_section .info_box p {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #7C809A;
}


.btn-wrapper {
  margin-top: 84.5px;
}

#owl-demo .item {
  margin: 3px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  position: absolute;
  right: 153px;
  bottom: -70px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 17px !important;
  height: 17px !important;
  margin: 0 5px !important;
  background: #E52346 !important;
}


.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #C9C9C9 !important;
}

/*VEHICLE PAGE CSS*/

.vehicle_info h1,
.vehicle_info p {
  text-align: center;
}

.vehicles_section .nav-tabs .nav-link,
.vehicles_section .nav-tabs {
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  color: #363B5A;
}

.vehicles_section .nav-item .active {
  font-family: Figtree;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
}



@media screen and (max-width: 1160px) {
  .dedication_section .btn-wrapper {
    margin-top: 5px;
  }
  .grid-block1 {
    margin-top: 30px;
  }
  .grid-block {
    margin-top: 30px;
  }
}


@media screen and (max-width: 1000px) {
  .grid-block {
    margin-top: 30px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    display: inline-block !important;
  }

  .display-bg {
    display: none !important;
  }

  .grid-block1 {
    margin-top: 30px;
  }

  .dedication_section h2 {
    font-size: 2em; 
  }

  .dedication_section .btn-wrapper {
    margin-top: 5px;
  }

  .dedication_section .paragraph1 {
    margin: 13px 0;
  }

  .ps-absolute {
    position: relative !important;
    right: 0% !important;
    margin-top: 30px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media screen and (max-width: 760px) {
  .button {
    margin-top: 80px !important;
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    right: 0;
  }

  .background-img {
    position: relative;
  }

  .dedication_section .right_box {
    position: relative !important;
    margin-top: 0;
    right: 0;
  }

  .ps-absolute {
    position: relative !important;
    right: 0% !important;
    margin-top: 30px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .grid-block {
    margin-top: 30px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}



#ex1 {
  text-align: center;
}

.vehicles_section {
  margin-bottom: 60px;
}



.outer { margin:0 auto; max-width:800px;}
#big .item { background: #ec6e46; padding: 120px 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; }
#thumbs .item { background: #C9C9C9; height:70px; line-height:70px; padding: 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; cursor: pointer; }
#thumbs .item h1 { font-size: 18px; }
#thumbs .current .item { background:#FF5722; }
.owl-theme .owl-nav [class*='owl-'] { -webkit-transition: all .3s ease; transition: all .3s ease; }
.owl-theme .owl-nav [class*='owl-'].disabled:hover { background-color: #D6D6D6; }
#big.owl-theme { position: relative; }
#big.owl-theme .owl-next, #big.owl-theme .owl-prev { background:#333; width: 22px; line-height:40px; height: 40px; margin-top: -20px; position: absolute; text-align:center; top: 50%; }
#big.owl-theme .owl-prev { left: 10px; }
#big.owl-theme .owl-next { right: 10px; }
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { background:#333; }